.notify{
    margin-top: 27px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.notificationContainer {
    display: flex;
    /* background-color: #d6f0f9; */
    /* padding: 13px; */
    justify-content: space-between;
}

.notifying{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 100%;
    padding: 22px;

}

.notifying:hover{
    background-color: #CAE2F9;

}




.prodetails_1{
    background-color: rgb(255, 255, 255);
    height: 260px;
    border-radius: 10px;
    padding: 14px;
    width: 295px;
    border-width: 0px !important;
}
.rightRoundImg_1 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 30px;
}

.rightAdImage_1{
    width: 75px;
    height: 75px;
    /* border-radius: 50%;
    margin-left: 95px; */
}

.rightFallow_1{
    width: 100%;
    height: 34px;
    padding: 10px;
    font-size:14px;
}

.fallowBtn_1{
    background-color: transparent;
    color: black;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin: 25px;
    font-weight: 600;
    
}

.mb{
    --bs-card-border-width: 0px !important;
}

.notifiLod{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: larger;
}